<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
	<ui:define name="content">

		<p:dialog dynamic="true" id="editAufenthaltDialog"
			header="#{messages.label_aufenthalt_caption}" modal="true"
			widgetVar="editAufenthaltDialogWidget" maximizable="true">
			<p:ajax event="close" listener="#{aufenthaltBean.reset}" />
			<h:form id="editAufenthaltForm">
				<p:outputPanel id="aufenthaltEditPanel">
					<ui:include src="/pages/aufenthalt/aufenthaltEditInclude2.xhtml" />
					<div style="text-align: center; margin: 10px">
						<p:commandButton value="#{messages.label_save}"
							icon="ui-icon-disk" action="#{aufenthaltViewBean.saveSelectedAufenthalt()}"
							update=":mainPanel :growlForm:growl"
							oncomplete="if(!args.validationFailed) PF('editAufenthaltDialogWidget').hide()" />
						<p:commandButton value="#{messages.label_close}"
							icon="ui-icon-close"
							onclick="PF('editAufenthaltDialogWidget').hide()" type="button" />
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>

		<p:panel id="mainPanel" header="#{aufenthaltViewBean.selectedAufenthalt.insasse.person.name}, #{aufenthaltViewBean.selectedAufenthalt.insasse.person.vorname}">
			<h:form id="frm">
				<p:dataScroller id="scroller" widgetVar="scroller"
					value="#{aufenthaltViewBean.viewElements.entrySet().toArray()}"
					var="r" chunkSize="4" mode="inline" scrollHeight="500">
					<f:facet name="header">
			            Scroll Down to Load More Data or 
			            <p:commandButton value="load" onclick="PF('scroller').load()" />
			        </f:facet>
					<p:fieldset legend="#{r.key} (#{r.value.size()})" toggleable="true"
						toggleSpeed="500">
						<p:dataScroller value="#{r.value}" var="v" chunkSize="3"
							mode="inline">
							<f:facet name="loader">
								<p:commandButton rendered="#{r.value.size() > 3}" type="button"
									value="More" icon="ui-icon-circle-triangle-s" />
							</f:facet>
							<div class="ui-g">

								<p:commandButton icon="ui-icon-pencil"
									update=":editAufenthaltDialog" resetValues="true"
									action="#{aufenthaltViewBean.setSelectedAufenthalt(aufenthaltViewBean.selectedAufenthalt)}"
									oncomplete="PF('editAufenthaltDialogWidget').show()"
									title="#{messages.label_edit}">
								</p:commandButton>
								
								<ui:repeat var="e" value="#{v.map.entrySet().toArray()}">
									<div class="ui-g-2">
										<h:outputText style="font-weight: bold;" value="#{e.key}: " />
										<h:outputText value="#{e.value}" />
									</div>
								</ui:repeat>
							</div>
							<p:separator />
						</p:dataScroller>
					</p:fieldset>
					<br />
				</p:dataScroller>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>
</html>