<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
	<ui:define name="content">
		<p:panel id="mainPanel">
			<h:form id="frm">
				<p:dataTable id="table" value="#{aufenthaltBean.aufenthaltList}"
					var="r">
					<f:facet name="header">
						<p:commandButton value="prepare" rendered="#{empty aufenthaltBean.aufenthaltList}"
							actionListener="#{aufenthaltBean.prepare()}" update=":frm:table" />
						<p:commandButton widgetVar="refresh" value="refresh" rendered="#{not empty aufenthaltBean.aufenthaltList}"
							actionListener="#{aufenthaltBean.reset()}" update=":frm:table" />
					</f:facet>
					<p:column>
						<h:outputText
							value="#{r.insasse.person.name}, #{r.insasse.person.vorname}" />
					</p:column>
					<p:column width="60">
						<p:commandButton value="select"
							actionListener="#{aufenthaltViewBean.openSelectedAufenthalt(r)}"
							oncomplete="location.replace('aufenthalt.xhtml')" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>
</html>