<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="zelleDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="zelleTable" value="#{zelleBean.zelleList}" var="zelle" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="zelleTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_zelle}" icon="ui-icon-plusthick" action="#{zelleBean.prepareNewZelle()}"
                      resetValues="true" update=":editZelleDialog" oncomplete="PF('editZelleDialogWidget').show()"
                      style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="zelleTable" trigger="toggler" />
          </f:facet>
          
          <p:column  headerText="#{messages.field_label_zelle_text}" sortBy="#{zelle.text}" filterBy="#{zelle.text}">
            <f:facet name="filter">
                <p:inputText id="textFilter"
                        onkeypress="if (event.keyCode == 13) {PF('zelleTable').filter(); updateTextFilter(); return false; }" >
                    <p:remoteCommand name="updateTextFilter" update="zelleTable:textFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{zelle.text}" />
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewZelleDialog" oncomplete="PF('viewZelleDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{zelle}" target="#{zelleBean.zelle}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editZelleDialog"
                resetValues="true" 
                action="#{zelleBean.onDialogOpen(zelle)}"
                oncomplete="PF('editZelleDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-close" 
                oncomplete="PF('deleteZelleDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{zelle}"
                    target="#{zelleBean.zelle}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteZelleDialog" widgetVar="deleteZelleDialogWidget"
        header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{zelleBean.delete}" update=":zelleDataForm :growlForm:growl" oncomplete="PF('deleteZelleDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteZelleDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editZelleDialog" header="#{messages.label_zelle_caption}"
            modal="true" widgetVar="editZelleDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{zelleBean.reset}"/>
        <h:form id="editZelleForm" >
            <p:outputPanel id="zelleEditPanel">
                <ui:include src="/pages/zelle/zelleEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{zelleBean.persist}"
                            update=":editZelleForm:zelleEditPanel :zelleDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editZelleDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editZelleDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewZelleDialog" header="#{messages.label_zelle_caption}" modal="true" widgetVar="viewZelleDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{zelleBean.reset}" />
        <h:form id="viewZelleForm">
          <ui:include src="/pages/zelle/zelleViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewZelleDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>