<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition>
  <h:form>
  <p:menu>
    <p:submenu label="#{messages.menu_pages}">
      
      <p:menuitem value="#{messages.menu_persons}" url="/pages/person/person.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_insasses}" url="/pages/insasse/insasse.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_aufenthalts}" url="/pages/aufenthalt/aufenthalt.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_zelles}" url="/pages/zelle/zelle.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_belegungs}" url="/pages/belegung/belegung.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_delikts}" url="/pages/delikt/delikt.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_effektes}" url="/pages/effekte/effekte.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_urteils}" url="/pages/urteil/urteil.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_journals}" url="/pages/journal/journal.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_strafes}" url="/pages/strafe/strafe.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_konsultations}" url="/pages/konsultation/konsultation.xhtml" icon="icon-entity" ajax="false" async="false" />
      
    </p:submenu>
    
  </p:menu>
  </h:form>
</ui:composition>
</html>