<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
      
    <h:panelGrid >
       
       <p:commandButton value="#{messages.dialog_konsultation_create_personen}" icon="ui-icon-plusthick" title="#{messages.label_create}"
                  actionListener="#{personBean.prepareNewPerson()}"
                  update=":createPersonenDialog :growlForm:growl" resetValues="true"
                  oncomplete="PF('createPersonenDialogWidget').show()" partialSubmit="true" process="@this"
                  style="float:right;">
       </p:commandButton>
       
       <p:pickList id="konsultationPersonensPickList" var="person" itemLabel="#{person.id}"
                   value="#{konsultationBean.personens}" itemValue="#{person}"
                   showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" >
           <o:converter converterId="omnifaces.ListConverter" list="#{konsultationBean.fullPersonensList}"/>
         <p:ajax event="transfer" listener="#{konsultationBean.onPersonensPickListTransfer}" partialSubmit="true" process="@this" />
         <f:facet name="sourceCaption"><h:outputText value="#{messages.label_picklist_available}" /></f:facet>
         <f:facet name="targetCaption"><h:outputText value="#{messages.label_picklist_assigned}" /></f:facet>
       </p:pickList>
</h:panelGrid>
</html>