<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="konsultationDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="konsultationTable" value="#{konsultationBean.konsultationList}" var="konsultation" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="konsultationTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_konsultation}" icon="ui-icon-plusthick" action="#{konsultationBean.prepareNewKonsultation()}"
                      resetValues="true" update=":editKonsultationDialog" oncomplete="PF('editKonsultationDialogWidget').show()"
                      style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="konsultationTable" trigger="toggler" />
          </f:facet>
          
          <p:column headerText="#{messages.field_label_konsultation_von}" sortBy="#{konsultation.von}" filterBy="#{konsultation.von}">
            <f:facet name="filter">
                <p:inputText id="vonFilter"
                        onkeyup="if (event.keyCode == 13) {PF('konsultationTable').filter(); updateVonFilter(); return false;}" >
                    <p:remoteCommand name="updateVonFilter" update="konsultationTable:vonFilter" />
                    <f:convertDateTime />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{konsultation.von}"><f:convertDateTime /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_konsultation_bis}" sortBy="#{konsultation.bis}" filterBy="#{konsultation.bis}">
            <f:facet name="filter">
                <p:inputText id="bisFilter"
                        onkeyup="if (event.keyCode == 13) {PF('konsultationTable').filter(); updateBisFilter(); return false;}" >
                    <p:remoteCommand name="updateBisFilter" update="konsultationTable:bisFilter" />
                    <f:convertDateTime />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{konsultation.bis}"><f:convertDateTime /></h:outputText>
          </p:column>

          <p:column  headerText="#{messages.field_label_konsultation_text}" sortBy="#{konsultation.text}" filterBy="#{konsultation.text}">
            <f:facet name="filter">
                <p:inputText id="textFilter"
                        onkeypress="if (event.keyCode == 13) {PF('konsultationTable').filter(); updateTextFilter(); return false; }" >
                    <p:remoteCommand name="updateTextFilter" update="konsultationTable:textFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{konsultation.text}" />
          </p:column>

          <p:column headerText="#{messages.field_label_konsultation_aufenthalt}" sortBy="#{konsultation.aufenthalt}" filterBy="#{konsultation.aufenthalt}">
            <f:facet name="filter">
            <p:selectOneMenu  id="aufenthaltFilter"
                            style="width:145px;"
                            onchange="PF('konsultationTable').filter(); return false;">
                <f:selectItem noSelectionOption="true" itemLabel="" />
                <f:selectItems itemLabel="#{aufenthalt.id}"
                            value="#{konsultationBean.aufenthalts}" 
                            var="aufenthalt" 
                            itemValue="#{aufenthalt}" />
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{konsultationBean.aufenthalts}" />
            </p:selectOneMenu>
            </f:facet>
            <h:outputText value="#{konsultation.aufenthalt.id}" />
          </p:column>

          <p:column headerText="#{messages.field_label_konsultation_personen_plural}" styleClass="action-column" exportable="false">
            
            <p:commandButton icon="ui-icon-transfer-e-w"  title="#{messages.field_label_konsultation_personen_plural}" action="#{konsultationBean.onPersonensDialog(konsultation)}" oncomplete="PF('konsultationPersonensDialogWidget').show()" update=":konsultationPersonensDialog"/>
            
          </p:column>
          
          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewKonsultationDialog" oncomplete="PF('viewKonsultationDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{konsultation}" target="#{konsultationBean.konsultation}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editKonsultationDialog"
                resetValues="true" 
                action="#{konsultationBean.onDialogOpen(konsultation)}"
                oncomplete="PF('editKonsultationDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-close" 
                oncomplete="PF('deleteKonsultationDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{konsultation}"
                    target="#{konsultationBean.konsultation}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteKonsultationDialog" widgetVar="deleteKonsultationDialogWidget"
        header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{konsultationBean.delete}" update=":konsultationDataForm :growlForm:growl" oncomplete="PF('deleteKonsultationDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteKonsultationDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editKonsultationDialog" header="#{messages.label_konsultation_caption}"
            modal="true" widgetVar="editKonsultationDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{konsultationBean.reset}"/>
        <h:form id="editKonsultationForm" >
            <p:outputPanel id="konsultationEditPanel">
                <ui:include src="/pages/konsultation/konsultationEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{konsultationBean.persist}"
                            update=":editKonsultationForm:konsultationEditPanel :konsultationDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editKonsultationDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editKonsultationDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewKonsultationDialog" header="#{messages.label_konsultation_caption}" modal="true" widgetVar="viewKonsultationDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{konsultationBean.reset}" />
        <h:form id="viewKonsultationForm">
          <ui:include src="/pages/konsultation/konsultationViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewKonsultationDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="createAufenthaltFromEditDialog"
        header="#{messages.dialog_konsultation_create_aufenthalt}" modal="true"
        widgetVar="createAufenthaltFromEditDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{aufenthaltBean.reset}" />
        <p:outputPanel id="createAufenthaltPanel">
                <h:form id="createAufenthaltForm">
                    <ui:include src="/pages/aufenthalt/aufenthaltEditInclude.xhtml">
                        <ui:param name="hideKonsultationSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{konsultationBean.updateAufenthalt(aufenthaltBean.aufenthalt)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{aufenthaltBean.persist}"
                            update=":editKonsultationForm:aufenthaltSelectInput :createAufenthaltPanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createAufenthaltFromEditDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createAufenthaltFromEditDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
    <p:dialog dynamic="true" id="konsultationPersonensDialog" header="#{messages.dialog_header_konsultation_personen_plural}" modal="true" widgetVar="konsultationPersonensDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{konsultationBean.reset}" />
        <p:outputPanel id="konsultationPersonensPanel">
            <h:form id="konsultationPersonensForm">
                <ui:include src="/pages/konsultation/konsultationPersonenInclude.xhtml" />
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                        icon="ui-icon-disk"
                        action="#{konsultationBean.onPersonensSubmit}"
                        update=":growlForm:growl"
                        oncomplete="if(!args.validationFailed) PF('konsultationPersonensDialogWidget').hide()"
                        partialSubmit="true" process="@this" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('konsultationPersonensDialogWidget').hide()" type="button" />
                </div>
            </h:form>
        </p:outputPanel>
    </p:dialog>
    
    <p:dialog dynamic="true" id="createPersonenDialog"
        header="#{messages.dialog_konsultation_create_personen}" modal="true"
        widgetVar="createPersonenDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{personBean.reset}" />
        <p:outputPanel id="createPersonenPanel">
                <h:form id="createPersonenForm">
                    <ui:include src="/pages/person/personEditInclude.xhtml">
                        <ui:param name="hideKonsultationSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{konsultationBean.updatePersonen(personBean.person)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{personBean.persist}"
                            update=":konsultationPersonensPanel :createPersonenPanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createPersonenDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createPersonenDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>