<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" >
        
        <h:outputText value="#{messages.field_label_konsultation_von}:" />
        <h:outputText value="#{konsultationBean.konsultation.von}" ><f:convertDateTime /></h:outputText>

        <h:outputText value="#{messages.field_label_konsultation_bis}:" />
        <h:outputText value="#{konsultationBean.konsultation.bis}" ><f:convertDateTime /></h:outputText>

        <h:outputText value="#{messages.field_label_konsultation_text}:" />
        <h:outputText value="#{konsultationBean.konsultation.text}" />

        <h:outputText value="#{messages.field_label_konsultation_aufenthalt}:" />
        <h:outputText value="#{konsultationBean.konsultation.aufenthalt.id}" />

    </h:panelGrid>
</html>