<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="deliktDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="deliktTable" value="#{deliktBean.deliktList}" var="delikt" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="deliktTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_delikt}" icon="ui-icon-plusthick" action="#{deliktBean.prepareNewDelikt()}"
                      resetValues="true" update=":editDeliktDialog" oncomplete="PF('editDeliktDialogWidget').show()"
                      style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="deliktTable" trigger="toggler" />
          </f:facet>
          
          <p:column  headerText="#{messages.field_label_delikt_text}" sortBy="#{delikt.text}" filterBy="#{delikt.text}">
            <f:facet name="filter">
                <p:inputText id="textFilter"
                        onkeypress="if (event.keyCode == 13) {PF('deliktTable').filter(); updateTextFilter(); return false; }" >
                    <p:remoteCommand name="updateTextFilter" update="deliktTable:textFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{delikt.text}" />
          </p:column>

          <p:column headerText="#{messages.field_label_delikt_aufenthalt}" sortBy="#{delikt.aufenthalt}" filterBy="#{delikt.aufenthalt}">
            <f:facet name="filter">
            <p:selectOneMenu  id="aufenthaltFilter"
                            style="width:145px;"
                            onchange="PF('deliktTable').filter(); return false;">
                <f:selectItem noSelectionOption="true" itemLabel="" />
                <f:selectItems itemLabel="#{aufenthalt.id}"
                            value="#{deliktBean.aufenthalts}" 
                            var="aufenthalt" 
                            itemValue="#{aufenthalt}" />
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{deliktBean.aufenthalts}" />
            </p:selectOneMenu>
            </f:facet>
            <h:outputText value="#{delikt.aufenthalt.id}" />
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewDeliktDialog" oncomplete="PF('viewDeliktDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{delikt}" target="#{deliktBean.delikt}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editDeliktDialog"
                resetValues="true" 
                action="#{deliktBean.onDialogOpen(delikt)}"
                oncomplete="PF('editDeliktDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-close" 
                oncomplete="PF('deleteDeliktDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{delikt}"
                    target="#{deliktBean.delikt}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteDeliktDialog" widgetVar="deleteDeliktDialogWidget"
        header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{deliktBean.delete}" update=":deliktDataForm :growlForm:growl" oncomplete="PF('deleteDeliktDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteDeliktDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editDeliktDialog" header="#{messages.label_delikt_caption}"
            modal="true" widgetVar="editDeliktDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{deliktBean.reset}"/>
        <h:form id="editDeliktForm" >
            <p:outputPanel id="deliktEditPanel">
                <ui:include src="/pages/delikt/deliktEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{deliktBean.persist}"
                            update=":editDeliktForm:deliktEditPanel :deliktDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editDeliktDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editDeliktDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewDeliktDialog" header="#{messages.label_delikt_caption}" modal="true" widgetVar="viewDeliktDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{deliktBean.reset}" />
        <h:form id="viewDeliktForm">
          <ui:include src="/pages/delikt/deliktViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewDeliktDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="createAufenthaltFromEditDialog"
        header="#{messages.dialog_delikt_create_aufenthalt}" modal="true"
        widgetVar="createAufenthaltFromEditDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{aufenthaltBean.reset}" />
        <p:outputPanel id="createAufenthaltPanel">
                <h:form id="createAufenthaltForm">
                    <ui:include src="/pages/aufenthalt/aufenthaltEditInclude.xhtml">
                        <ui:param name="hideDeliktSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{deliktBean.updateAufenthalt(aufenthaltBean.aufenthalt)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{aufenthaltBean.persist}"
                            update=":editDeliktForm:aufenthaltSelectInput :createAufenthaltPanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createAufenthaltFromEditDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createAufenthaltFromEditDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>