<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="effekteDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="effekteTable" value="#{effekteBean.effekteList}" var="effekte" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="effekteTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_effekte}" icon="ui-icon-plusthick" action="#{effekteBean.prepareNewEffekte()}"
                      resetValues="true" update=":editEffekteDialog" oncomplete="PF('editEffekteDialogWidget').show()"
                      style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="effekteTable" trigger="toggler" />
          </f:facet>
          
          <p:column headerText="#{messages.field_label_effekte_anzahl}" sortBy="#{effekte.anzahl}" filterBy="#{effekte.anzahl}">
            <f:facet name="filter">
                <p:inputText id="anzahlFilter"
                        onkeypress="if (event.keyCode == 13) {PF('effekteTable').filter(); updateAnzahlFilter(); return false; }" >
                    <p:remoteCommand name="updateAnzahlFilter" update="effekteTable:anzahlFilter" />
                    <f:convertNumber integerOnly="true" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{effekte.anzahl}" ><f:convertNumber /></h:outputText>
          </p:column>

          <p:column  headerText="#{messages.field_label_effekte_text}" sortBy="#{effekte.text}" filterBy="#{effekte.text}">
            <f:facet name="filter">
                <p:inputText id="textFilter"
                        onkeypress="if (event.keyCode == 13) {PF('effekteTable').filter(); updateTextFilter(); return false; }" >
                    <p:remoteCommand name="updateTextFilter" update="effekteTable:textFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{effekte.text}" />
          </p:column>

          <p:column headerText="#{messages.field_label_effekte_aufenthalt}" sortBy="#{effekte.aufenthalt}" filterBy="#{effekte.aufenthalt}">
            <f:facet name="filter">
            <p:selectOneMenu  id="aufenthaltFilter"
                            style="width:145px;"
                            onchange="PF('effekteTable').filter(); return false;">
                <f:selectItem noSelectionOption="true" itemLabel="" />
                <f:selectItems itemLabel="#{aufenthalt.id}"
                            value="#{effekteBean.aufenthalts}" 
                            var="aufenthalt" 
                            itemValue="#{aufenthalt}" />
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{effekteBean.aufenthalts}" />
            </p:selectOneMenu>
            </f:facet>
            <h:outputText value="#{effekte.aufenthalt.id}" />
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewEffekteDialog" oncomplete="PF('viewEffekteDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{effekte}" target="#{effekteBean.effekte}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editEffekteDialog"
                resetValues="true" 
                action="#{effekteBean.onDialogOpen(effekte)}"
                oncomplete="PF('editEffekteDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-close" 
                oncomplete="PF('deleteEffekteDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{effekte}"
                    target="#{effekteBean.effekte}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteEffekteDialog" widgetVar="deleteEffekteDialogWidget"
        header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{effekteBean.delete}" update=":effekteDataForm :growlForm:growl" oncomplete="PF('deleteEffekteDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteEffekteDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editEffekteDialog" header="#{messages.label_effekte_caption}"
            modal="true" widgetVar="editEffekteDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{effekteBean.reset}"/>
        <h:form id="editEffekteForm" >
            <p:outputPanel id="effekteEditPanel">
                <ui:include src="/pages/effekte/effekteEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{effekteBean.persist}"
                            update=":editEffekteForm:effekteEditPanel :effekteDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editEffekteDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editEffekteDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewEffekteDialog" header="#{messages.label_effekte_caption}" modal="true" widgetVar="viewEffekteDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{effekteBean.reset}" />
        <h:form id="viewEffekteForm">
          <ui:include src="/pages/effekte/effekteViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewEffekteDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="createAufenthaltFromEditDialog"
        header="#{messages.dialog_effekte_create_aufenthalt}" modal="true"
        widgetVar="createAufenthaltFromEditDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{aufenthaltBean.reset}" />
        <p:outputPanel id="createAufenthaltPanel">
                <h:form id="createAufenthaltForm">
                    <ui:include src="/pages/aufenthalt/aufenthaltEditInclude.xhtml">
                        <ui:param name="hideEffekteSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{effekteBean.updateAufenthalt(aufenthaltBean.aufenthalt)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{aufenthaltBean.persist}"
                            update=":editEffekteForm:aufenthaltSelectInput :createAufenthaltPanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createAufenthaltFromEditDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createAufenthaltFromEditDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>