<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

        <p:outputPanel styleClass="ui-fluid">

            <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">
            
                <h:outputLabel value="#{messages.field_label_effekte_anzahl}:" for="anzahlEditInput" />
                <p:inputText value="#{effekteBean.effekte.anzahl}"  id="anzahlEditInput" 
                    label="#{messages.field_label_effekte_anzahl}" />
                <p:message for="anzahlEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_effekte_text}:" for="textEditInput" />
                <p:inputText value="#{effekteBean.effekte.text}" id="textEditInput" 
                    label="#{messages.field_label_effekte_text}" />
                <p:message for="textEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_effekte_aufenthalt}:" for="aufenthaltSelectInput" rendered="#{not hideAufenthaltSelectInput}"/>
                <h:panelGroup rendered="#{not hideAufenthaltSelectInput}">
                    <p:selectOneMenu value="#{effekteBean.effekte.aufenthalt}"
                                    id="aufenthaltSelectInput">
                        <f:selectItem noSelectionOption="true" itemLabel="" />
                        <f:selectItems value="#{effekteBean.aufenthalts}" 
                                    var="aufenthalt" 
                                    itemLabel="#{aufenthalt.id}"
                                    itemValue="#{aufenthalt}" />
                        <o:converter converterId="omnifaces.SelectItemsConverter" list="#{effekteBean.aufenthalts}" />
                    </p:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup rendered="#{not hideAufenthaltSelectInput}">
                
                    <p:commandButton icon="ui-icon-plusthick" title="#{messages.label_create}"
                              action="#{aufenthaltBean.prepareNewAufenthalt()}"
                              update=":createAufenthaltFromEditDialog"
                              resetValues="true"
                              oncomplete="PF('createAufenthaltFromEditDialogWidget').show()"
                              rendered="#{applicationBean.componentExists('createAufenthaltFromEditDialog')}"
                              style="vertical-align:top;" partialSubmit="true" process="@this">
                    </p:commandButton>
                    
                    <p:message for="aufenthaltSelectInput" display="icon" rendered="#{not hideAufenthaltSelectInput}"/>
                </h:panelGroup>
                
            </p:panelGrid>

        </p:outputPanel>
</html>