<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="journalDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="journalTable" value="#{journalBean.journalList}" var="journal" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="journalTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_journal}" icon="ui-icon-plusthick" action="#{journalBean.prepareNewJournal()}"
                      resetValues="true" update=":editJournalDialog" oncomplete="PF('editJournalDialogWidget').show()"
                      style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="journalTable" trigger="toggler" />
          </f:facet>
          
          <p:column  headerText="#{messages.field_label_journal_text}" sortBy="#{journal.text}" filterBy="#{journal.text}">
            <f:facet name="filter">
                <p:inputText id="textFilter"
                        onkeypress="if (event.keyCode == 13) {PF('journalTable').filter(); updateTextFilter(); return false; }" >
                    <p:remoteCommand name="updateTextFilter" update="journalTable:textFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{journal.text}" />
          </p:column>

          <p:column headerText="#{messages.field_label_journal_datum}" sortBy="#{journal.datum}" filterBy="#{journal.datum}">
            <f:facet name="filter">
                <p:inputText id="datumFilter"
                        onkeyup="if (event.keyCode == 13) {PF('journalTable').filter(); updateDatumFilter(); return false;}" >
                    <p:remoteCommand name="updateDatumFilter" update="journalTable:datumFilter" />
                    <f:convertDateTime />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{journal.datum}"><f:convertDateTime /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_journal_aufenthalt}" sortBy="#{journal.aufenthalt}" filterBy="#{journal.aufenthalt}">
            <f:facet name="filter">
            <p:selectOneMenu  id="aufenthaltFilter"
                            style="width:145px;"
                            onchange="PF('journalTable').filter(); return false;">
                <f:selectItem noSelectionOption="true" itemLabel="" />
                <f:selectItems itemLabel="#{aufenthalt.id}"
                            value="#{journalBean.aufenthalts}" 
                            var="aufenthalt" 
                            itemValue="#{aufenthalt}" />
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{journalBean.aufenthalts}" />
            </p:selectOneMenu>
            </f:facet>
            <h:outputText value="#{journal.aufenthalt.id}" />
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewJournalDialog" oncomplete="PF('viewJournalDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{journal}" target="#{journalBean.journal}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editJournalDialog"
                resetValues="true" 
                action="#{journalBean.onDialogOpen(journal)}"
                oncomplete="PF('editJournalDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-close" 
                oncomplete="PF('deleteJournalDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{journal}"
                    target="#{journalBean.journal}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteJournalDialog" widgetVar="deleteJournalDialogWidget"
        header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{journalBean.delete}" update=":journalDataForm :growlForm:growl" oncomplete="PF('deleteJournalDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteJournalDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editJournalDialog" header="#{messages.label_journal_caption}"
            modal="true" widgetVar="editJournalDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{journalBean.reset}"/>
        <h:form id="editJournalForm" >
            <p:outputPanel id="journalEditPanel">
                <ui:include src="/pages/journal/journalEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{journalBean.persist}"
                            update=":editJournalForm:journalEditPanel :journalDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editJournalDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editJournalDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewJournalDialog" header="#{messages.label_journal_caption}" modal="true" widgetVar="viewJournalDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{journalBean.reset}" />
        <h:form id="viewJournalForm">
          <ui:include src="/pages/journal/journalViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewJournalDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="createAufenthaltFromEditDialog"
        header="#{messages.dialog_journal_create_aufenthalt}" modal="true"
        widgetVar="createAufenthaltFromEditDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{aufenthaltBean.reset}" />
        <p:outputPanel id="createAufenthaltPanel">
                <h:form id="createAufenthaltForm">
                    <ui:include src="/pages/aufenthalt/aufenthaltEditInclude.xhtml">
                        <ui:param name="hideJournalSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{journalBean.updateAufenthalt(aufenthaltBean.aufenthalt)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{aufenthaltBean.persist}"
                            update=":editJournalForm:aufenthaltSelectInput :createAufenthaltPanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createAufenthaltFromEditDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createAufenthaltFromEditDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>