<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="belegungDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="belegungTable" value="#{belegungBean.belegungList}" var="belegung" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="belegungTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_belegung}" icon="ui-icon-plusthick" action="#{belegungBean.prepareNewBelegung()}"
                      resetValues="true" update=":editBelegungDialog" oncomplete="PF('editBelegungDialogWidget').show()"
                      style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="belegungTable" trigger="toggler" />
          </f:facet>
          
          <p:column headerText="#{messages.field_label_belegung_von}" sortBy="#{belegung.von}" filterBy="#{belegung.von}">
            <f:facet name="filter">
                <p:inputText id="vonFilter"
                        onkeyup="if (event.keyCode == 13) {PF('belegungTable').filter(); updateVonFilter(); return false;}" >
                    <p:remoteCommand name="updateVonFilter" update="belegungTable:vonFilter" />
                    <f:convertDateTime />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{belegung.von}"><f:convertDateTime /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_belegung_bis}" sortBy="#{belegung.bis}" filterBy="#{belegung.bis}">
            <f:facet name="filter">
                <p:inputText id="bisFilter"
                        onkeyup="if (event.keyCode == 13) {PF('belegungTable').filter(); updateBisFilter(); return false;}" >
                    <p:remoteCommand name="updateBisFilter" update="belegungTable:bisFilter" />
                    <f:convertDateTime />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{belegung.bis}"><f:convertDateTime /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_belegung_zelle}" sortBy="#{belegung.zelle}" filterBy="#{belegung.zelle}">
            <f:facet name="filter">
            <p:selectOneMenu  id="zelleFilter"
                            style="width:145px;"
                            onchange="PF('belegungTable').filter(); return false;">
                <f:selectItem noSelectionOption="true" itemLabel="" />
                <f:selectItems itemLabel="#{zelle.id}"
                            value="#{belegungBean.zelles}" 
                            var="zelle" 
                            itemValue="#{zelle}" />
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{belegungBean.zelles}" />
            </p:selectOneMenu>
            </f:facet>
            <h:outputText value="#{belegung.zelle.id}" />
          </p:column>

          <p:column headerText="#{messages.field_label_belegung_aufenthalt}" sortBy="#{belegung.aufenthalt}" filterBy="#{belegung.aufenthalt}">
            <f:facet name="filter">
            <p:selectOneMenu  id="aufenthaltFilter"
                            style="width:145px;"
                            onchange="PF('belegungTable').filter(); return false;">
                <f:selectItem noSelectionOption="true" itemLabel="" />
                <f:selectItems itemLabel="#{aufenthalt.id}"
                            value="#{belegungBean.aufenthalts}" 
                            var="aufenthalt" 
                            itemValue="#{aufenthalt}" />
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{belegungBean.aufenthalts}" />
            </p:selectOneMenu>
            </f:facet>
            <h:outputText value="#{belegung.aufenthalt.id}" />
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewBelegungDialog" oncomplete="PF('viewBelegungDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{belegung}" target="#{belegungBean.belegung}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editBelegungDialog"
                resetValues="true" 
                action="#{belegungBean.onDialogOpen(belegung)}"
                oncomplete="PF('editBelegungDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-close" 
                oncomplete="PF('deleteBelegungDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{belegung}"
                    target="#{belegungBean.belegung}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteBelegungDialog" widgetVar="deleteBelegungDialogWidget"
        header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{belegungBean.delete}" update=":belegungDataForm :growlForm:growl" oncomplete="PF('deleteBelegungDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteBelegungDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editBelegungDialog" header="#{messages.label_belegung_caption}"
            modal="true" widgetVar="editBelegungDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{belegungBean.reset}"/>
        <h:form id="editBelegungForm" >
            <p:outputPanel id="belegungEditPanel">
                <ui:include src="/pages/belegung/belegungEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{belegungBean.persist}"
                            update=":editBelegungForm:belegungEditPanel :belegungDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editBelegungDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editBelegungDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewBelegungDialog" header="#{messages.label_belegung_caption}" modal="true" widgetVar="viewBelegungDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{belegungBean.reset}" />
        <h:form id="viewBelegungForm">
          <ui:include src="/pages/belegung/belegungViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewBelegungDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="createZelleFromEditDialog"
        header="#{messages.dialog_belegung_create_zelle}" modal="true"
        widgetVar="createZelleFromEditDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{zelleBean.reset}" />
        <p:outputPanel id="createZellePanel">
                <h:form id="createZelleForm">
                    <ui:include src="/pages/zelle/zelleEditInclude.xhtml">
                        <ui:param name="hideBelegungSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{belegungBean.updateZelle(zelleBean.zelle)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{zelleBean.persist}"
                            update=":editBelegungForm:zelleSelectInput :createZellePanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createZelleFromEditDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createZelleFromEditDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
    <p:dialog dynamic="true" id="createAufenthaltFromEditDialog"
        header="#{messages.dialog_belegung_create_aufenthalt}" modal="true"
        widgetVar="createAufenthaltFromEditDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{aufenthaltBean.reset}" />
        <p:outputPanel id="createAufenthaltPanel">
                <h:form id="createAufenthaltForm">
                    <ui:include src="/pages/aufenthalt/aufenthaltEditInclude.xhtml">
                        <ui:param name="hideBelegungSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{belegungBean.updateAufenthalt(aufenthaltBean.aufenthalt)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{aufenthaltBean.persist}"
                            update=":editBelegungForm:aufenthaltSelectInput :createAufenthaltPanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createAufenthaltFromEditDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createAufenthaltFromEditDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>