<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

        <p:outputPanel styleClass="ui-fluid">

            <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">
            
                <h:outputLabel value="#{messages.field_label_aufenthalt_von}:" for="vonEditInput" />
                <p:calendar id="vonEditInput" navigator="true" value="#{aufenthaltBean.aufenthalt.von}" label="#{messages.field_label_aufenthalt_von}" />
                <p:message for="vonEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_aufenthalt_bis}:" for="bisEditInput" />
                <p:calendar id="bisEditInput" navigator="true" value="#{aufenthaltBean.aufenthalt.bis}" label="#{messages.field_label_aufenthalt_bis}" />
                <p:message for="bisEditInput" display="icon" />

            </p:panelGrid>

        </p:outputPanel>
</html>