<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="aufenthaltDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="aufenthaltTable" value="#{aufenthaltBean.aufenthaltList}" var="aufenthalt" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="aufenthaltTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_aufenthalt}" icon="ui-icon-plusthick" action="#{aufenthaltBean.prepareNewAufenthalt()}"
                      resetValues="true" update=":editAufenthaltDialog" oncomplete="PF('editAufenthaltDialogWidget').show()"
                      style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="aufenthaltTable" trigger="toggler" />
          </f:facet>
          
          <p:column headerText="#{messages.field_label_aufenthalt_von}" sortBy="#{aufenthalt.von}" filterBy="#{aufenthalt.von}">
            <f:facet name="filter">
                <p:inputText id="vonFilter"
                        onkeyup="if (event.keyCode == 13) {PF('aufenthaltTable').filter(); updateVonFilter(); return false;}" >
                    <p:remoteCommand name="updateVonFilter" update="aufenthaltTable:vonFilter" />
                    <f:convertDateTime />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{aufenthalt.von}"><f:convertDateTime /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_aufenthalt_bis}" sortBy="#{aufenthalt.bis}" filterBy="#{aufenthalt.bis}">
            <f:facet name="filter">
                <p:inputText id="bisFilter"
                        onkeyup="if (event.keyCode == 13) {PF('aufenthaltTable').filter(); updateBisFilter(); return false;}" >
                    <p:remoteCommand name="updateBisFilter" update="aufenthaltTable:bisFilter" />
                    <f:convertDateTime />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{aufenthalt.bis}"><f:convertDateTime /></h:outputText>
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewAufenthaltDialog" oncomplete="PF('viewAufenthaltDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{aufenthalt}" target="#{aufenthaltBean.aufenthalt}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editAufenthaltDialog"
                resetValues="true" 
                action="#{aufenthaltBean.onDialogOpen(aufenthalt)}"
                oncomplete="PF('editAufenthaltDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-close" 
                oncomplete="PF('deleteAufenthaltDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{aufenthalt}"
                    target="#{aufenthaltBean.aufenthalt}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteAufenthaltDialog" widgetVar="deleteAufenthaltDialogWidget"
        header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{aufenthaltBean.delete}" update=":aufenthaltDataForm :growlForm:growl" oncomplete="PF('deleteAufenthaltDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteAufenthaltDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editAufenthaltDialog" header="#{messages.label_aufenthalt_caption}"
            modal="true" widgetVar="editAufenthaltDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{aufenthaltBean.reset}"/>
        <h:form id="editAufenthaltForm" >
            <p:outputPanel id="aufenthaltEditPanel">
                <ui:include src="/pages/aufenthalt/aufenthaltEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{aufenthaltBean.persist}"
                            update=":editAufenthaltForm:aufenthaltEditPanel :aufenthaltDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editAufenthaltDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editAufenthaltDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewAufenthaltDialog" header="#{messages.label_aufenthalt_caption}" modal="true" widgetVar="viewAufenthaltDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{aufenthaltBean.reset}" />
        <h:form id="viewAufenthaltForm">
          <ui:include src="/pages/aufenthalt/aufenthaltViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewAufenthaltDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>