<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="urteilDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="urteilTable" value="#{urteilBean.urteilList}" var="urteil" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="urteilTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_urteil}" icon="ui-icon-plusthick" action="#{urteilBean.prepareNewUrteil()}"
                      resetValues="true" update=":editUrteilDialog" oncomplete="PF('editUrteilDialogWidget').show()"
                      style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="urteilTable" trigger="toggler" />
          </f:facet>
          
          <p:column  headerText="#{messages.field_label_urteil_text}" sortBy="#{urteil.text}" filterBy="#{urteil.text}">
            <f:facet name="filter">
                <p:inputText id="textFilter"
                        onkeypress="if (event.keyCode == 13) {PF('urteilTable').filter(); updateTextFilter(); return false; }" >
                    <p:remoteCommand name="updateTextFilter" update="urteilTable:textFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{urteil.text}" />
          </p:column>

          <p:column headerText="#{messages.field_label_urteil_datum}" sortBy="#{urteil.datum}" filterBy="#{urteil.datum}">
            <f:facet name="filter">
                <p:inputText id="datumFilter"
                        onkeyup="if (event.keyCode == 13) {PF('urteilTable').filter(); updateDatumFilter(); return false;}" >
                    <p:remoteCommand name="updateDatumFilter" update="urteilTable:datumFilter" />
                    <f:convertDateTime />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{urteil.datum}"><f:convertDateTime /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_urteil_aufenthalt}" sortBy="#{urteil.aufenthalt}" filterBy="#{urteil.aufenthalt}">
            <f:facet name="filter">
            <p:selectOneMenu  id="aufenthaltFilter"
                            style="width:145px;"
                            onchange="PF('urteilTable').filter(); return false;">
                <f:selectItem noSelectionOption="true" itemLabel="" />
                <f:selectItems itemLabel="#{aufenthalt.id}"
                            value="#{urteilBean.aufenthalts}" 
                            var="aufenthalt" 
                            itemValue="#{aufenthalt}" />
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{urteilBean.aufenthalts}" />
            </p:selectOneMenu>
            </f:facet>
            <h:outputText value="#{urteil.aufenthalt.id}" />
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewUrteilDialog" oncomplete="PF('viewUrteilDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{urteil}" target="#{urteilBean.urteil}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editUrteilDialog"
                resetValues="true" 
                action="#{urteilBean.onDialogOpen(urteil)}"
                oncomplete="PF('editUrteilDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-close" 
                oncomplete="PF('deleteUrteilDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{urteil}"
                    target="#{urteilBean.urteil}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteUrteilDialog" widgetVar="deleteUrteilDialogWidget"
        header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{urteilBean.delete}" update=":urteilDataForm :growlForm:growl" oncomplete="PF('deleteUrteilDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteUrteilDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editUrteilDialog" header="#{messages.label_urteil_caption}"
            modal="true" widgetVar="editUrteilDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{urteilBean.reset}"/>
        <h:form id="editUrteilForm" >
            <p:outputPanel id="urteilEditPanel">
                <ui:include src="/pages/urteil/urteilEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{urteilBean.persist}"
                            update=":editUrteilForm:urteilEditPanel :urteilDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editUrteilDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editUrteilDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewUrteilDialog" header="#{messages.label_urteil_caption}" modal="true" widgetVar="viewUrteilDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{urteilBean.reset}" />
        <h:form id="viewUrteilForm">
          <ui:include src="/pages/urteil/urteilViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewUrteilDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="createAufenthaltFromEditDialog"
        header="#{messages.dialog_urteil_create_aufenthalt}" modal="true"
        widgetVar="createAufenthaltFromEditDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{aufenthaltBean.reset}" />
        <p:outputPanel id="createAufenthaltPanel">
                <h:form id="createAufenthaltForm">
                    <ui:include src="/pages/aufenthalt/aufenthaltEditInclude.xhtml">
                        <ui:param name="hideUrteilSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{urteilBean.updateAufenthalt(aufenthaltBean.aufenthalt)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{aufenthaltBean.persist}"
                            update=":editUrteilForm:aufenthaltSelectInput :createAufenthaltPanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createAufenthaltFromEditDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createAufenthaltFromEditDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>