<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="personDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="personTable" value="#{personBean.personList}" var="person" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="personTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_person}" icon="ui-icon-plusthick" action="#{personBean.prepareNewPerson()}"
                      resetValues="true" update=":editPersonDialog" oncomplete="PF('editPersonDialogWidget').show()"
                      style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="personTable" trigger="toggler" />
          </f:facet>
          
          <p:column  headerText="#{messages.field_label_person_name}" sortBy="#{person.name}" filterBy="#{person.name}">
            <f:facet name="filter">
                <p:inputText id="nameFilter"
                        onkeypress="if (event.keyCode == 13) {PF('personTable').filter(); updateNameFilter(); return false; }" >
                    <p:remoteCommand name="updateNameFilter" update="personTable:nameFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{person.name}" />
          </p:column>

          <p:column  headerText="#{messages.field_label_person_vorname}" sortBy="#{person.vorname}" filterBy="#{person.vorname}">
            <f:facet name="filter">
                <p:inputText id="vornameFilter"
                        onkeypress="if (event.keyCode == 13) {PF('personTable').filter(); updateVornameFilter(); return false; }" >
                    <p:remoteCommand name="updateVornameFilter" update="personTable:vornameFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{person.vorname}" />
          </p:column>

          <p:column headerText="#{messages.field_label_person_geburtsdatum}" sortBy="#{person.geburtsdatum}" filterBy="#{person.geburtsdatum}">
            <f:facet name="filter">
                <p:inputText id="geburtsdatumFilter"
                        onkeyup="if (event.keyCode == 13) {PF('personTable').filter(); updateGeburtsdatumFilter(); return false;}" >
                    <p:remoteCommand name="updateGeburtsdatumFilter" update="personTable:geburtsdatumFilter" />
                    <f:convertDateTime />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{person.geburtsdatum}"><f:convertDateTime /></h:outputText>
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewPersonDialog" oncomplete="PF('viewPersonDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{person}" target="#{personBean.person}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editPersonDialog"
                resetValues="true" 
                action="#{personBean.onDialogOpen(person)}"
                oncomplete="PF('editPersonDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-close" 
                oncomplete="PF('deletePersonDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{person}"
                    target="#{personBean.person}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deletePersonDialog" widgetVar="deletePersonDialogWidget"
        header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{personBean.delete}" update=":personDataForm :growlForm:growl" oncomplete="PF('deletePersonDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deletePersonDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editPersonDialog" header="#{messages.label_person_caption}"
            modal="true" widgetVar="editPersonDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{personBean.reset}"/>
        <h:form id="editPersonForm" >
            <p:outputPanel id="personEditPanel">
                <ui:include src="/pages/person/personEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{personBean.persist}"
                            update=":editPersonForm:personEditPanel :personDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editPersonDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editPersonDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewPersonDialog" header="#{messages.label_person_caption}" modal="true" widgetVar="viewPersonDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{personBean.reset}" />
        <h:form id="viewPersonForm">
          <ui:include src="/pages/person/personViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewPersonDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>