<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

        <p:outputPanel styleClass="ui-fluid">

            <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">
            
                <h:outputLabel value="#{messages.field_label_person_name}:" for="nameEditInput" />
                <p:inputText value="#{personBean.person.name}" id="nameEditInput" 
                    label="#{messages.field_label_person_name}" />
                <p:message for="nameEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_person_vorname}:" for="vornameEditInput" />
                <p:inputText value="#{personBean.person.vorname}" id="vornameEditInput" 
                    label="#{messages.field_label_person_vorname}" />
                <p:message for="vornameEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_person_geburtsdatum}:" for="geburtsdatumEditInput" />
                <p:calendar id="geburtsdatumEditInput" navigator="true" value="#{personBean.person.geburtsdatum}" label="#{messages.field_label_person_geburtsdatum}" />
                <p:message for="geburtsdatumEditInput" display="icon" />

            </p:panelGrid>

        </p:outputPanel>
</html>