<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

        <p:outputPanel styleClass="ui-fluid">

            <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">
            
                <h:outputLabel value="#{messages.field_label_insasse_person}:" for="personSelectInput" rendered="#{not hidePersonSelectInput}"/>
                <h:panelGroup rendered="#{not hidePersonSelectInput}">
                    <p:selectOneMenu value="#{insasseBean.insasse.person}"
                                    id="personSelectInput">
                        <f:selectItem noSelectionOption="true" itemLabel="" />
                        <f:selectItems value="#{insasseBean.persons}" 
                                    var="person" 
                                    itemLabel="#{person.id}"
                                    itemValue="#{person}" />
                        <o:converter converterId="omnifaces.SelectItemsConverter" list="#{insasseBean.persons}" />
                    </p:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup rendered="#{not hidePersonSelectInput}">
                
                    <p:commandButton icon="ui-icon-plusthick" title="#{messages.label_create}"
                              action="#{personBean.prepareNewPerson()}"
                              update=":createPersonFromEditDialog"
                              resetValues="true"
                              oncomplete="PF('createPersonFromEditDialogWidget').show()"
                              rendered="#{applicationBean.componentExists('createPersonFromEditDialog')}"
                              style="vertical-align:top;" partialSubmit="true" process="@this">
                    </p:commandButton>
                    
                    <p:message for="personSelectInput" display="icon" rendered="#{not hidePersonSelectInput}"/>
                </h:panelGroup>
                
            </p:panelGrid>

        </p:outputPanel>
</html>