<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="insasseDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="insasseTable" value="#{insasseBean.insasseList}" var="insasse" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="insasseTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_insasse}" icon="ui-icon-plusthick" action="#{insasseBean.prepareNewInsasse()}"
                      resetValues="true" update=":editInsasseDialog" oncomplete="PF('editInsasseDialogWidget').show()"
                      style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="insasseTable" trigger="toggler" />
          </f:facet>
          
          <p:column headerText="#{messages.field_label_insasse_person}" sortBy="#{insasse.person}" filterBy="#{insasse.person}">
            <f:facet name="filter">
            <p:selectOneMenu  id="personFilter"
                            style="width:145px;"
                            onchange="PF('insasseTable').filter(); return false;">
                <f:selectItem noSelectionOption="true" itemLabel="" />
                <f:selectItems itemLabel="#{person.id}"
                            value="#{insasseBean.persons}" 
                            var="person" 
                            itemValue="#{person}" />
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{insasseBean.persons}" />
            </p:selectOneMenu>
            </f:facet>
            <h:outputText value="#{insasse.person.id}" />
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewInsasseDialog" oncomplete="PF('viewInsasseDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{insasse}" target="#{insasseBean.insasse}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editInsasseDialog"
                resetValues="true" 
                action="#{insasseBean.onDialogOpen(insasse)}"
                oncomplete="PF('editInsasseDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-close" 
                oncomplete="PF('deleteInsasseDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{insasse}"
                    target="#{insasseBean.insasse}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteInsasseDialog" widgetVar="deleteInsasseDialogWidget"
        header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{insasseBean.delete}" update=":insasseDataForm :growlForm:growl" oncomplete="PF('deleteInsasseDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteInsasseDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editInsasseDialog" header="#{messages.label_insasse_caption}"
            modal="true" widgetVar="editInsasseDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{insasseBean.reset}"/>
        <h:form id="editInsasseForm" >
            <p:outputPanel id="insasseEditPanel">
                <ui:include src="/pages/insasse/insasseEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{insasseBean.persist}"
                            update=":editInsasseForm:insasseEditPanel :insasseDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editInsasseDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editInsasseDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewInsasseDialog" header="#{messages.label_insasse_caption}" modal="true" widgetVar="viewInsasseDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{insasseBean.reset}" />
        <h:form id="viewInsasseForm">
          <ui:include src="/pages/insasse/insasseViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewInsasseDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="createPersonFromEditDialog"
        header="#{messages.dialog_insasse_create_person}" modal="true"
        widgetVar="createPersonFromEditDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{personBean.reset}" />
        <p:outputPanel id="createPersonPanel">
                <h:form id="createPersonForm">
                    <ui:include src="/pages/person/personEditInclude.xhtml">
                        <ui:param name="hideInsasseSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{insasseBean.updatePerson(personBean.person)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{personBean.persist}"
                            update=":editInsasseForm:personSelectInput :createPersonPanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createPersonFromEditDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createPersonFromEditDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>