<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" >
        
        <h:outputText value="#{messages.field_label_strafe_text}:" />
        <h:outputText value="#{strafeBean.strafe.text}" />

        <h:outputText value="#{messages.field_label_strafe_urteil}:" />
        <h:outputText value="#{strafeBean.strafe.urteil.id}" />

        <h:outputText value="#{messages.field_label_strafe_tage}:" />
        <h:outputText value="#{strafeBean.strafe.tage}" />

        <h:outputText value="#{messages.field_label_strafe_monate}:" />
        <h:outputText value="#{strafeBean.strafe.monate}" />

        <h:outputText value="#{messages.field_label_strafe_jahre}:" />
        <h:outputText value="#{strafeBean.strafe.jahre}" />

        <h:outputText value="#{messages.field_label_strafe_addieren}:" />
        <p:selectBooleanCheckbox disabled="true" value="#{strafeBean.strafe.addieren}" id="addierenInput" />

    </h:panelGrid>
</html>