<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="strafeDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="strafeTable" value="#{strafeBean.strafeList}" var="strafe" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="strafeTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_strafe}" icon="ui-icon-plusthick" action="#{strafeBean.prepareNewStrafe()}"
                      resetValues="true" update=":editStrafeDialog" oncomplete="PF('editStrafeDialogWidget').show()"
                      style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="strafeTable" trigger="toggler" />
          </f:facet>
          
          <p:column  headerText="#{messages.field_label_strafe_text}" sortBy="#{strafe.text}" filterBy="#{strafe.text}">
            <f:facet name="filter">
                <p:inputText id="textFilter"
                        onkeypress="if (event.keyCode == 13) {PF('strafeTable').filter(); updateTextFilter(); return false; }" >
                    <p:remoteCommand name="updateTextFilter" update="strafeTable:textFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{strafe.text}" />
          </p:column>

          <p:column headerText="#{messages.field_label_strafe_urteil}" sortBy="#{strafe.urteil}" filterBy="#{strafe.urteil}">
            <f:facet name="filter">
            <p:selectOneMenu  id="urteilFilter"
                            style="width:145px;"
                            onchange="PF('strafeTable').filter(); return false;">
                <f:selectItem noSelectionOption="true" itemLabel="" />
                <f:selectItems itemLabel="#{urteil.id}"
                            value="#{strafeBean.urteils}" 
                            var="urteil" 
                            itemValue="#{urteil}" />
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{strafeBean.urteils}" />
            </p:selectOneMenu>
            </f:facet>
            <h:outputText value="#{strafe.urteil.id}" />
          </p:column>

          <p:column headerText="#{messages.field_label_strafe_tage}" sortBy="#{strafe.tage}" filterBy="#{strafe.tage}">
            <f:facet name="filter">
                <p:inputText id="tageFilter"
                        onkeypress="if (event.keyCode == 13) {PF('strafeTable').filter(); updateTageFilter(); return false; }" >
                    <p:remoteCommand name="updateTageFilter" update="strafeTable:tageFilter" />
                    <f:convertNumber integerOnly="true" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{strafe.tage}" ><f:convertNumber /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_strafe_monate}" sortBy="#{strafe.monate}" filterBy="#{strafe.monate}">
            <f:facet name="filter">
                <p:inputText id="monateFilter"
                        onkeypress="if (event.keyCode == 13) {PF('strafeTable').filter(); updateMonateFilter(); return false; }" >
                    <p:remoteCommand name="updateMonateFilter" update="strafeTable:monateFilter" />
                    <f:convertNumber integerOnly="true" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{strafe.monate}" ><f:convertNumber /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_strafe_jahre}" sortBy="#{strafe.jahre}" filterBy="#{strafe.jahre}">
            <f:facet name="filter">
                <p:inputText id="jahreFilter"
                        onkeypress="if (event.keyCode == 13) {PF('strafeTable').filter(); updateJahreFilter(); return false; }" >
                    <p:remoteCommand name="updateJahreFilter" update="strafeTable:jahreFilter" />
                    <f:convertNumber integerOnly="true" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{strafe.jahre}" ><f:convertNumber /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_strafe_addieren}" sortBy="#{strafe.addieren}" filterBy="#{strafe.addieren}" exportable="false">
            <f:facet name="filter">
                 <p:selectOneMenu converter="javax.faces.Boolean"
                        onchange="PF('strafeTable').filter(); return false;" style="width:50%">
                        <f:selectItem itemLabel="&nbsp;" itemValue="" />
                        <f:selectItem itemLabel="#{messages.field_label_strafe_addieren_true}" itemValue="true" />
                        <f:selectItem itemLabel="#{messages.field_label_strafe_addieren_false}" itemValue="false" />
                </p:selectOneMenu>
            </f:facet>
            <h:panelGroup styleClass="ui-icon ui-icon-check" rendered="#{strafe.addieren}"/>
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewStrafeDialog" oncomplete="PF('viewStrafeDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{strafe}" target="#{strafeBean.strafe}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editStrafeDialog"
                resetValues="true" 
                action="#{strafeBean.onDialogOpen(strafe)}"
                oncomplete="PF('editStrafeDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-close" 
                oncomplete="PF('deleteStrafeDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{strafe}"
                    target="#{strafeBean.strafe}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteStrafeDialog" widgetVar="deleteStrafeDialogWidget"
        header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{strafeBean.delete}" update=":strafeDataForm :growlForm:growl" oncomplete="PF('deleteStrafeDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteStrafeDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editStrafeDialog" header="#{messages.label_strafe_caption}"
            modal="true" widgetVar="editStrafeDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{strafeBean.reset}"/>
        <h:form id="editStrafeForm" >
            <p:outputPanel id="strafeEditPanel">
                <ui:include src="/pages/strafe/strafeEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{strafeBean.persist}"
                            update=":editStrafeForm:strafeEditPanel :strafeDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editStrafeDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editStrafeDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewStrafeDialog" header="#{messages.label_strafe_caption}" modal="true" widgetVar="viewStrafeDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{strafeBean.reset}" />
        <h:form id="viewStrafeForm">
          <ui:include src="/pages/strafe/strafeViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewStrafeDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="createUrteilFromEditDialog"
        header="#{messages.dialog_strafe_create_urteil}" modal="true"
        widgetVar="createUrteilFromEditDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{urteilBean.reset}" />
        <p:outputPanel id="createUrteilPanel">
                <h:form id="createUrteilForm">
                    <ui:include src="/pages/urteil/urteilEditInclude.xhtml">
                        <ui:param name="hideStrafeSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{strafeBean.updateUrteil(urteilBean.urteil)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{urteilBean.persist}"
                            update=":editStrafeForm:urteilSelectInput :createUrteilPanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createUrteilFromEditDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createUrteilFromEditDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>