<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

        <p:outputPanel styleClass="ui-fluid">

            <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">
            
                <h:outputLabel value="#{messages.field_label_strafe_text}:" for="textEditInput" />
                <p:inputText value="#{strafeBean.strafe.text}" id="textEditInput" 
                    label="#{messages.field_label_strafe_text}" />
                <p:message for="textEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_strafe_urteil}:" for="urteilSelectInput" rendered="#{not hideUrteilSelectInput}"/>
                <h:panelGroup rendered="#{not hideUrteilSelectInput}">
                    <p:selectOneMenu value="#{strafeBean.strafe.urteil}"
                                    id="urteilSelectInput">
                        <f:selectItem noSelectionOption="true" itemLabel="" />
                        <f:selectItems value="#{strafeBean.urteils}" 
                                    var="urteil" 
                                    itemLabel="#{urteil.id}"
                                    itemValue="#{urteil}" />
                        <o:converter converterId="omnifaces.SelectItemsConverter" list="#{strafeBean.urteils}" />
                    </p:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup rendered="#{not hideUrteilSelectInput}">
                
                    <p:commandButton icon="ui-icon-plusthick" title="#{messages.label_create}"
                              action="#{urteilBean.prepareNewUrteil()}"
                              update=":createUrteilFromEditDialog"
                              resetValues="true"
                              oncomplete="PF('createUrteilFromEditDialogWidget').show()"
                              rendered="#{applicationBean.componentExists('createUrteilFromEditDialog')}"
                              style="vertical-align:top;" partialSubmit="true" process="@this">
                    </p:commandButton>
                    
                    <p:message for="urteilSelectInput" display="icon" rendered="#{not hideUrteilSelectInput}"/>
                </h:panelGroup>
                
                <h:outputLabel value="#{messages.field_label_strafe_tage}:" for="tageEditInput" />
                <p:inputText value="#{strafeBean.strafe.tage}"  id="tageEditInput" 
                    label="#{messages.field_label_strafe_tage}" />
                <p:message for="tageEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_strafe_monate}:" for="monateEditInput" />
                <p:inputText value="#{strafeBean.strafe.monate}"  id="monateEditInput" 
                    label="#{messages.field_label_strafe_monate}" />
                <p:message for="monateEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_strafe_jahre}:" for="jahreEditInput" />
                <p:inputText value="#{strafeBean.strafe.jahre}"  id="jahreEditInput" 
                    label="#{messages.field_label_strafe_jahre}" />
                <p:message for="jahreEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_strafe_addieren}:" for="addierenInput" />
                <p:selectBooleanCheckbox value="#{strafeBean.strafe.addieren}" id="addierenInput" label="#{messages.field_label_strafe_addieren}" />
                <p:message for="addierenInput" display="icon" />

            </p:panelGrid>

        </p:outputPanel>
</html>